body {
  margin: 0;
  font-family: Tahoma, Geneva, sans-serif;
  font-size: 14px;
  background-image: url('./../images/chad-smile.png');
  background-repeat: repeat;
  background-size: 2.5px 2.5px;
}
/* PAGE TOP */
#pageTop {
  /* background: #444; */
	height: 90px;
  background-image: url('./../images/kahuna-fade.gif');
  background-repeat: repeat-x;
  background-size: 90px 100%;
  filter: drop-shadow(0 0 3.5px #444);
}
#pageTop > #pageTopWrap {
	width: 1000px;
	margin: 0 auto;
	height: 90px;
}
#pageTop > #pageTopWrap > a > #pageTopLogo {
	float: left;
	height: 100%;
	width: 90px;
  background-image: url('./../images/chad-smile.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
#pageTop > #pageTopWrap > #pageTopRest {
	float: left;
	height: 90px;
	width: 892px;
}
#pageTop > #pageTopWrap > #pageTopRest > #menu1 {
	height: 44px;
}
#pageTop > #pageTopWrap > #pageTopRest > #menu1 > div {
	margin-top: 8px;
	padding: 4px;
	text-align:right;
}
#pageTop > #pageTopWrap > #pageTopRest > #menu1 > div > a {
	color: #555;
	text-decoration: none;
}
#pageTop > #pageTopWrap > #pageTopRest > #menu1 > div > a:hover {
	color: #C0E73D;
}
#pageTop > #pageTopWrap > #pageTopRest > #menu2 {
	height: 44px;
}
#pageTop > #pageTopWrap > #pageTopRest > #menu2 > div {
	margin-top: 2px;
	padding: 4px;
}
#pageTop > #pageTopWrap > #pageTopRest > #menu2 > div > a {
	display: block;
	float: left;
	color: #555;
	text-decoration: none;
	margin: 0 16px;
}
#pageTop > #pageTopWrap > #pageTopRest > #menu2 > div > a:hover {
	color: #C0E73D;
}
/* PAGE MIDDLE */
#pageMiddle{
	width: 1000px;
	margin: 0 auto;
	height: 900px;
}
/* PAGE BOTTOM */
#pageBottom{
	background: #666;
	padding: 24px;
	font-size: 12px;
	color: #CCC;
	text-align: center;
}
